body{
    
    /* background: linear-gradient(to right, #80ebe7, #2790f3); */
    background-image: url(./images/night.jpg);
    font-family: 'Indie Flower', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
ul li{
    list-style-type: none;
}
nav{
   
    color: darkgray;
}
.navbar-nav .nav-item .nav-link{
    color: rgb(240, 11, 209);
}
.navbar-nav .nav-item .nav-link:hover{
    color: white;
}
footer{
    background-color: rgba(207, 201, 201, 0.668);
    color: white;
    text-shadow: 2px 2px 2px #000;
}
.text-center{
    color: rgb(172, 49, 225);
    text-shadow: 1px 1px 1px #000;
}
.introText{
    font-size: 20px;
    color: white;
}
footer{
    line-height: 100%;
}

.star{
    color: rgb(190, 14, 14);
}
.calenText{
    color: white;
    text-align: center;
}
.calenText a{
    color:rgb(15, 196, 60);
    font-weight: 700;
}

  
  
  
  
  
